@{
    var currentController = ViewContext.RouteData.Values["Controller"]?.ToString();
    var currentAction = ViewContext.RouteData.Values["Action"]?.ToString();
}

<!-- Humberger Begin -->
<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper">
    <div class="humberger__menu__logo">
        <a asp-controller="Home" asp-action="Index"><img src="~/images/Banner/logotoy.png" alt=""></a>
    </div>

    <!-- Improved User Section -->
    <div class="humberger__menu__user border-bottom pb-4 mb-4">
        @if (User.Identity.IsAuthenticated)
        {
            <div class="d-flex align-items-center px-3">
                <img src="@Url.Content(User.FindFirst("UserImage")?.Value ?? "~/images/user-default.png")" 
                     alt="Avatar" class="rounded-circle header-mobile-avatar mr-3">
                <div class="user-info">
                    <span class="d-block text-dark fw-bold h6 mb-1">@User.Identity.Name</span>
                    <a asp-controller="Account" asp-action="Profile" class="small text-purple text-decoration-none font-weight-bold">Hồ sơ cá nhân <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        }
        else
        {
            <div class="px-3">
                <a asp-controller="Account" asp-action="Login" class="btn auth-btn w-100 text-white rounded-pill py-2">
                    <i class="fa fa-user mr-2"></i> Đăng nhập
                </a>
            </div>
        }
    </div>

    <div class="humberger__menu__cart">
        <ul>
            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
            <li>
                <a href="@Url.Action("Index", "Cart")">
                    <i class="fa fa-shopping-bag"></i>
                    <span class="cart-count">
                        @await Component.InvokeAsync("Cart")
                    </span>
                </a>
            </li>
        </ul>
        <div class="header__cart__price">item: <span>$150.00</span></div>
    </div>
    <div class="humberger__menu__widget">
        <div class="header__top__right__language">
            <img src="~/img/language.png" alt="">
            <div>English</div>
            <span class="arrow_carrot-down"></span>
            <ul>
                <li><a href="#">Tiếng Việt</a></li>
                <li><a href="#">English</a></li>
            </ul>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="header__top__right__auth d-inline-block ml-3">
                <form asp-controller="Account" asp-action="Logout" method="post">
                    <button type="submit" class="btn btn-link text-danger p-0 small text-decoration-none"><i class="fa fa-sign-out"></i> Logout</button>
                </form>
            </div>
        }
    </div>
    <nav class="humberger__menu__nav mobile-menu">
        <ul>
            <li class="@(currentController == "Home" && currentAction == "Index" ? "active" : "")">
                <a asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="@(currentController == "Products" ? "active" : "")">
                <a asp-controller="Products" asp-action="Index">Shop</a>
            </li>
            <li>
                <a href="#">Pages</a>
                <ul class="header__menu__dropdown">
                    <li><a href="./shop-details.html">Shop Details</a></li>
                    <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                    <li><a href="./checkout.html">Check Out</a></li>
                </ul>
            </li>
            <li><a href="./contact.html">Contact</a></li>
        </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
    <div class="header__top__right__social">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-pinterest-p"></i></a>
    </div>
    <div class="humberger__menu__contact">
        <ul>
            <li><i class="fa fa-envelope"></i> hello@nhom4.com</li>
            <li>Free Shipping for all Order of $99</li>
        </ul>
    </div>
</div>
<!-- Humberger End -->
