@model TuNhanTamTInh_Ecommerce.Models.ViewModels.PriceFilterViewModel

<form asp-controller="Products" asp-action="Index" method="get" class="price-filter-form">
    <input type="hidden" name="categoryId" value="@Model.Query.CategoryId" />
    <input type="hidden" name="seriesId" value="@Model.Query.SeriesId" />
    <input type="hidden" name="keyword" value="@Model.Query.Keyword" />
    <input type="hidden" name="sort" value="@Model.Query.Sort" />
    <input type="hidden" name="page" value="1" />

    <div class="price-range-wrap">
        <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
             data-min="@Model.MinPrice"
             data-max="@Model.MaxPrice">
            <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
            <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
            <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
        </div>
        <div class="range-slider">
            <div class="price-input">
                <input type="text" id="minamount" name="minPrice" value="@Model.SelectedMinPrice" />
                <input type="text" id="maxamount" name="maxPrice" value="@Model.SelectedMaxPrice" />
            </div>
        </div>
    </div>

    <button type="submit" class="site-btn" style="margin-top: 12px; width: 100%;">Apply price filter</button>
</form>
