@model TuNhanTamTInh_Ecommerce.Models.Product

@{
    ViewData["Title"] = "Product Details";
}

<section class="crud-page">
    <div class="container">
        <div class="crud-page__header">
            <div class="crud-page__breadcrumb">
                <a asp-controller="Home" asp-action="Index">Home</a>
                <span>/</span>
                <a asp-controller="Products" asp-action="Index">Products</a>
                <span>/</span>
                <span>Details</span>
            </div>
            <h1><i class="fa fa-info-circle"></i> Product Details</h1>
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-10">
                <div class="crud-card">
                    <h3 class="crud-card__title">
                        <i class="fa fa-cube"></i> @Model.ProductName
                    </h3>
                    <dl class="crud-detail-list">
                        <dt>Product Name</dt>
                        <dd>@Html.DisplayFor(model => model.ProductName)</dd>

                        <dt>Slug</dt>
                        <dd><code>@Html.DisplayFor(model => model.ProductSlug)</code></dd>

                        <dt>Unit Price</dt>
                        <dd><strong>@Html.DisplayFor(model => model.UnitPrice)</strong></dd>

                        <dt>Discount</dt>
                        <dd>
                            @if (Model.Discount > 0)
                            {
                                <span class="crud-badge crud-badge--green">@(Model.Discount)%</span>
                            }
                            else
                            {
                                <span>None</span>
                            }
                        </dd>

                        <dt>Stock Quantity</dt>
                        <dd>
                            @if (Model.StockQuantity > 0)
                            {
                                <span class="crud-badge crud-badge--green">@Model.StockQuantity</span>
                            }
                            else
                            {
                                <span class="crud-badge crud-badge--red">Out of stock</span>
                            }
                        </dd>

                        <dt>View Count</dt>
                        <dd>@Html.DisplayFor(model => model.ViewCount)</dd>

                        <dt>Description</dt>
                        <dd>@Html.DisplayFor(model => model.Description)</dd>

                        <dt>Category</dt>
                        <dd>@Html.DisplayFor(model => model.Category.CategoryId)</dd>

                        <dt>Series</dt>
                        <dd>@Html.DisplayFor(model => model.Series.SeriesId)</dd>

                        <dt>Supplier</dt>
                        <dd>@Html.DisplayFor(model => model.Supplier.SupplierId)</dd>
                    </dl>
                    <div class="crud-btn-group">
                        <a asp-action="Edit" asp-route-id="@Model.ProductId" class="crud-btn crud-btn--primary">
                            <i class="fa fa-pencil"></i> Edit
                        </a>
                        <a asp-action="Index" class="crud-btn crud-btn--secondary">
                            <i class="fa fa-arrow-left"></i> Back to List
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
